<style>
body{
    background-image: url("static_content/pics/BG.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size:100%;
}
</style>
<div class="row">
    <div class="col-md-12 login-panel" style="background: rgba(50, 50, 50, .8);">
    <div class="col-md-8">
        <div class="login-jumbotron">
            <h1>Task Allocation Dashboard</h1>
            <h2>Optimize your workforce !!</h2>
            <p>Use this space to give a brief description about the application, Or talk about the producers, Or use list view to talk about top 5 things this application can help users with. 
                Have a great a day. </p>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="panel-default">
            <div style="color:#fff;">
                <h2>Please sign in</h2>
            </div>
            <div class="panel-body">
                <form role="form" name="form" ng-submit="form.$valid && $ctrl.login()" novalidate>
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
                            <input class="form-control" placeholder="Username" name="username" type="text" ng-model="$ctrl.username" autofocus required>
                            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
				                <div ng-message="required">Username is required</div>
				            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="$ctrl.password" required >
                            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
				                <div ng-message="required">Password is required</div>
				            </div>
                        </div>
                        <div class="checkbox" style="color:#fff;">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                            </label>
                        </div>
                        <div class="form-group">
				            <button ng-disabled="$ctrl.loading" class="btn btn-lg btn-success btn-block">Login</button>
				            <img ng-if="$ctrl.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				        </div>
				        <div ng-if="$ctrl.error" class="alert alert-danger">{{$ctrl.error}}</div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>